@use "../global" as global;


// margin-top

.u-mt4 {
    margin-top: 4px;
}

.u-mt8 {
    margin-top: 8px;
}

.u-mt24 {
    margin-top: 24px;
}

.u-mt32 {
    margin-top: 32px;
}
.u-mt54 {
    margin-top: 54px;
}

.u-mt64 {
    margin-top: 64px;
}

// margin-left

.u-ml16 {
    margin-left: 16px;
}

.u-ml24 {
    margin-left: 24px;
}

.u-ml32 {
    margin-left: 32px;
}

// marign-bottom

.u-mb9 {
    margin-bottom: 9px;
}