*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

body {
	color: #000;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
	display: block;
}

.l-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: calc(1240px + 40px);
	padding-left: 20px;
	padding-right: 20px;
}

.l-inner--drawer {
	margin-left: auto;
	margin-right: auto;
	max-width: 1040px;
}

.l-floating {
	margin-left: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 30;
}

.l-mv {
	margin-bottom: 118px;
	position: relative;
}

.l-footer-menu {
	padding-top: 72px;
}

.l-section {
	padding-bottom: 72px;
	padding-top: 74px;
}

.c-logo-link {
	display: block;
	height: 100%;
}

.c-logo-link > img {
	display: block;
	height: 100%;
	width: 100%;
}

.c-btn-arrow {
	background-color: #757676;
	display: inline-block;
	height: 132px;
	padding: 14px 16px;
	width: 400px;
}

.c-btn-arrow--mainColor {
	background-color: #84D6D6;
}

.c-btn-arrow__box {
	align-items: center;
	border: 1px solid #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.c-btn-arrow__text {
	align-items: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
}

.c-btn-arrow__text--span {
	color: #fff;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.c-btn-drawer {
	background-color: #84D6D6;
	display: block;
	height: 100px;
	position: relative;
	transition: transform 0.2s, opacity 0.3s;
	width: 100px;
	z-index: 50; /* クリックされてからのbtn処理 */
}

.c-btn-drawer > span {
	background-color: #fff;
	border-radius: 10px;
	height: 2px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, 50%);
	transition: background-color 0.1s;
	width: 33.75px;
}

.c-btn-drawer > span::before,
.c-btn-drawer > span::after {
	background-color: #fff;
	border-radius: 10px;
	content: "";
	height: 2px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.c-btn-drawer > span::before {
	top: -9px;
	transition: transform 0.2s;
}

.c-btn-drawer > span::after {
	top: 9px;
	transition: transform 0.3s;
}

body.js-drawer-open .c-btn-drawer {
	height: 56px;
	width: 56px;
}

body.js-drawer-open .c-btn-drawer span { /* btn クリック時の色 */
	background-color: transparent;
}

body.js-drawer-open .c-btn-drawer span::before,
body.js-drawer-open .c-btn-drawer span::after { /* btn クリック時の色 */
	background-color: #fff;
}

body.js-drawer-open .c-btn-drawer span::before {
	transform: translateY(9px) rotate(135deg);
}

body.js-drawer-open .c-btn-drawer span::after {
	transform: translateY(-9px) rotate(-315deg);
}

.c-btn-drawer__bg {
	background-color: #EEF9F8;
	height: 100%;
	max-height: 861px;
	position: fixed;
	right: 0;
	top: 0;
	transition: width 0.3s;
	width: 0;
	z-index: 40; /* クリックされてからのマスク処理 */
}

body.js-drawer-open .c-btn-drawer__bg {
	padding: 30px;
	width: 100%;
}

.c-btn-drawer__content {
	background-color: #fff;
	display: none;
	height: 100%;
	width: 100%;
}

body.js-drawer-open .c-btn-drawer__content {
	display: block;
}

.c-btn--gray {
	background-color: #757676;
	border: 1px solid #757676;
	color: #FFF;
	display: inline-block;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-weight: 400;
	padding: 16px 103px 16px 24px;
	position: relative;
	transition: all 0.3s;
}

.c-btn--gray::before,
.c-btn--gray::after {
	background-color: #fff;
	content: "";
	margin-right: 12px;
	position: absolute;
	transition: all 0.3s;
}

.c-btn--gray::before {
	height: 1px;
	margin-right: 12px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 27px;
}

.c-btn--gray::after {
	height: 1px;
	right: 0;
	top: 45%;
	transform: translateY(-50%) rotate(30deg);
	width: 12px;
}

.c-btn--gray:hover {
	background-color: #fff;
	color: #757676;
}

.c-btn--gray:hover::before,
.c-btn--gray:hover::after {
	background-color: #757676;
}

.c-line {
	bottom: 0;
	height: 2px;
	left: 50%;
	margin-bottom: 25px;
	position: absolute;
	transform: translateX(-50%);
	width: 2px;
}

.c-line::before,
.c-line::after {
	background-color: #757676;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
}

.c-line::before {
	transform: translate(-2px, 8px) rotate(45deg);
}

.c-line::after {
	transform: translate(-16px, 8px) rotate(-45deg);
}

.c-line > span {
	background-color: #757676;
	bottom: 40px;
	display: inline-block;
	height: 1px;
	left: 0;
	padding-top: 540px;
	position: absolute;
	width: 1px;
}

.c-floating {
	align-items: center;
	background-color: #fff;
	border: 1px solid #84D6D6;
	display: flex;
	flex-direction: column;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 12px;
	font-weight: 400;
	height: 100px;
	justify-content: center;
	transition: opacity 0.3s;
	width: 100px;
}

.c-floating:not(:first-of-type) {
	border-top: none;
}

.c-floating--first-time > img,
.c-floating--login > img,
.c-floating--fav-report > img {
	width: 100%;
}

.c-floating:hover {
	opacity: 0.9;
}

.c-drawerList--1 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 41.3461%;
}

.c-drawerList--2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 41.3461%;
}

.c-drawerList--footer {
	color: #000;
	display: block;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.c-drawerList--footer:hover {
	opacity: 0.7;
}

.c-drawerList__link {
	color: #000;
	display: block;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.c-drawerList__link:hover {
	opacity: 0.7;
}

.c-drawerList__link--btn {
	font-size: 24px;
	font-weight: 400;
}

.c-sns {
	align-items: center;
	display: flex;
	gap: 19px;
	justify-content: center;
}

.c-sns__link {
	align-items: center;
	display: flex;
	height: 20px;
	justify-content: center;
	width: 20px;
}

.c-sns__link:hover {
	opacity: 0.8;
}

.c-icon {
	color: #757676;
	display: inline-block;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-left: 18px;
	padding-right: 18px;
	position: relative;
}

.c-icon::before,
.c-icon::after {
	background-color: #757676;
	content: "";
	height: 21px;
	position: absolute;
	width: 1px;
}

.c-icon::before {
	left: 0;
	top: 0;
	transform: translateY(2px) rotate(-45deg);
}

.c-icon::after {
	right: 0;
	top: 0;
	transform: translateY(2px) rotate(45deg);
}

.c-photo-animation {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.c-photo-animation > a {
	display: block;
	height: 100%;
	transition: 0.3s;
	width: 100%;
}

.c-photo-animation > a:hover {
	transform: scale(1.1);
}

.c-photo-animation > a > img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.c-heading {
	align-items: center;
	display: flex;
	justify-content: left;
	position: relative;
}

.c-heading::before {
	background-color: #84D6D6;
	content: "";
	height: 35px;
	left: 3px;
	position: absolute;
	top: 10px;
	transform: translate(-24px, -16px);
	width: 35px;
}

.c-heading__title {
	border-right: 1px solid #84D6D6;
	color: #757676;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 30px;
	font-weight: 500;
	padding-right: 24px;
	position: relative;
}

.c-heading__sub {
	color: #757676;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding-left: 24px;
}

.c-heading2 {
	align-items: center;
	display: flex;
	justify-content: left;
}

.c-heading2__title {
	color: #84D6D6;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 24px;
	font-weight: 400;
	padding-right: 8px;
	position: relative;
	position: relative;
}

.c-heading2__title::before {
	background-color: #D9D9D9;
	content: "";
	height: 8px;
	left: 0;
	margin-left: -14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

.c-heading2__sub {
	color: #000;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.c-card1 {
	align-items: center;
	background-color: #fff;
	display: flex;
	gap: 36px;
	height: 160px;
	justify-content: space-between;
	position: relative;
	width: 490px;
}

.c-card1:hover {
	background: rgba(255, 255, 255, 0.7);
}

.c-card1::before {
	border: 1px solid #fff;
	content: "";
	height: 91.25%;
	left: 1.42857%;
	position: absolute;
	top: 4.375%;
	width: 97.14285%;
}

.c-card1__img {
	flex: 0 0 32.2448%;
	height: 100%;
}

.c-card1__img > img {
	-o-object-fit: contain;
	display: block;
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.c-card1__line {
	border: 1px solid #fff;
	height: 100%;
	width: 100%;
}

.c-card1__content {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 7px 7px 7px 0;
	position: relative;
	width: 100%;
}

.c-card1__head {
	position: relative;
	width: 100%;
}

.c-card1__names {
	align-items: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 8px;
}

.c-card1__name {
	color: #000;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.c-card1__position {
	color: #000;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 12px;
	font-weight: 500;
}

.c-card1__input {
	display: none;
}

.c-card1__label {
	position: absolute;
	right: 0;
	top: 0;
}

.c-card1__label::before {
	background-color: #757676;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	position: absolute;
	right: 9px;
	top: 9px;
	width: 26px;
}

.c-card1__label::after {
	background: url(../img/parts/star.svg) no-repeat center center/contain;
	content: "";
	height: 15px;
	position: absolute;
	right: 14.2px;
	top: 13.8px;
	width: 15px;
}

.c-card1__input:checked + .c-card1__label::after {
	background: url(../img/parts/starHover.svg) no-repeat center center/contain;
}

.c-card1__liner {
	background-color: #757676;
	display: block;
	height: 1px;
	margin-bottom: 20px;
	margin-left: 1px;
	margin-top: 8px;
	max-width: 261px;
	width: 100%;
}

.c-card1__areas {
	display: flex;
	gap: 8px;
	justify-content: left;
	width: 100%;
}

.c-card1__tag {
	flex: 0 0 48px;
	margin-top: -5px;
}

.c-card1__tagSpan {
	border: 1px solid #84D6D6;
	color: #84D6D6;
	display: inline-block;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 10px;
	font-weight: 500;
	line-height: 1;
	padding: 4px 8px;
}

.c-card1__areaLists {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: left;
}

.c-card1__areaItem > a {
	color: #000;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.c-card1__areaItem:hover {
	opacity: 0.8;
}

.p-header {
	height: 59px;
}

.p-header-logo {
	align-items: center;
	display: flex;
	height: 59px;
	justify-content: left;
	overflow: hidden;
}

.p-floating {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

body.js-drawer-open .p-drawer__btn {
	transform: translate(-54px, 54px);
	transition: transform 0.3s ease;
}

.p-drawerContent-head {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: flex-start;
	overflow: hidden;
}

.p-drawerContent__link {
	height: 218px;
	width: 302px;
}

.p-drawerList {
	align-items: flex-start;
	display: flex;
	height: calc(100% - 100px - 92px - 30px - 25px);
	justify-content: space-between;
	margin-top: 92px;
}

.p-drawerList__footer {
	position: relative;
}

.p-drawerList--footer {
	align-items: center;
	display: flex;
	justify-content: left;
	margin-left: calc(50% + 151px);
}

.p-mv {
	height: 54.94513vw;
	max-height: 791.21px;
	position: relative;
	width: 100%;
}

.p-mv__bg {
	background: url(../img/top-mv.jpg) no-repeat top center/cover;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.p-mv__btn-box {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	margin-bottom: -57.79px;
	position: absolute;
}

.p-footer {
	align-items: center;
	background-color: #84D6D6;
	display: flex;
	flex-direction: column;
	height: 55px;
	justify-content: center;
}

.p-footer__copy {
	color: #fff;
	display: block;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 12px;
	font-weight: 400;
}

.p-footer__text {
	color: #fff;
	display: block;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: 10px;
	font-weight: 400;
}

.p-footer-menu {
	background-color: #F7F7F7;
}

.p-footer-menu__flex {
	display: flex;
	justify-content: space-between;
}

.p-footer-menu__left {
	width: 50%;
}

.p-footer-menu__logo {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: center;
	overflow: hidden;
}

.p-footer-menu__logo > img {
	-o-object-fit: cover;
	height: 119px;
	object-fit: cover;
	width: 229px;
}

.p-footer-menu__snsArea {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.p-footer-menu__right {
	width: 50%;
}

.p-footer-menu__footer {
	align-items: center;
	border-top: 1px solid #757676;
	display: flex;
	height: 69px;
	justify-content: space-between;
}

.p-footer-menu__footer-nav {
	margin-left: calc(50% + 32px);
}

.p-footer-nav__lists {
	align-items: center;
	display: flex;
	gap: 24px;
	justify-content: left;
}

.p-footer-nav__link {
	color: #000;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.p-footer-nav__link:hover {
	opacity: 0.8;
}

.p-instagram__lists {
	display: grid;
	gap: 37px 40px;
	grid-template-columns: repeat(4, 260px);
}

.p-instagram__item {
	height: 260px;
	width: 260px;
}

.p-top {
	align-items: center;
	background: rgba(255, 255, 255, 0.91);
	display: inline-block;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 10.069%;
	padding: 136px 75px 136px 65px;
	position: absolute;
	top: 0;
}

.p-top__read1 {
	color: #757676;
	font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "MS Ｐゴシック", sans-serif;
	font-size: clamp(13px, 1.111vw, 16px);
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 1.36;
	text-align: center;
}

.p-top__read2 {
	color: #000;
	font-family: "fot-tsukuardgothic-std", sans-serif;
	font-size: clamp(21px, 3.333vw, 48px);
	font-weight: 400;
	letter-spacing: 0.08em;
	line-height: 96px;
	text-align: center;
}

.p-top__read2 > span {
	color: #84D6D6;
	font-size: clamp(37px, 4.444vw, 64px);
}

.p-top__hr {
	background-color: #757676;
	height: 1px;
	margin-bottom: 40px;
	margin-top: 40px;
	width: 218px;
}

.p-top__logo {
	align-items: center;
	display: flex;
	height: 36px;
	justify-content: space-between;
	overflow: hidden;
}

.p-top__logo > img {
	height: 186px;
	width: 256px;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

.u-mt4 {
	margin-top: 4px;
}

.u-mt8 {
	margin-top: 8px;
}

.u-mt24 {
	margin-top: 24px;
}

.u-mt32 {
	margin-top: 32px;
}

.u-mt54 {
	margin-top: 54px;
}

.u-mt64 {
	margin-top: 64px;
}

.u-ml16 {
	margin-left: 16px;
}

.u-ml24 {
	margin-left: 24px;
}

.u-ml32 {
	margin-left: 32px;
}

.u-mb9 {
	margin-bottom: 9px;
}

@media screen and (min-width: 1240px) {

.u-hidden-pc {
	display: none;
}

}

@media screen and (max-width: 767px) {

.u-hidden-sp {
	display: none;
}

}

