@use '../global' as global;

// card style 1
.c-card1 {
    display: flex;
    width: 490px;
    height: 160px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: relative;
    gap: 36px;

    &:hover {
        background: rgba($color: #fff, $alpha: .7);
    }

    &::before {
        content: "";
        position: absolute;
        top: 4.375%;
        left: 1.42857%;
        width: 97.14285%;
        height: 91.25%;
        border: 1px solid #fff;
    }

   &__img {
    flex: 0 0 32.2448%;
    height: 100%;

    & > img {
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
   }

    &__line {
        border: 1px solid #fff;
        width: 100%;
        height: 100%;
    }

    &__content {
        width: 100%;
        height: 100%;
        padding: 7px 7px 7px 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__head {
        width: 100%;
        position: relative;
    }

    &__names {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding-top: 8px;
    }

    &__name {
        font-family: global.$ff-heading;
        font-weight: 400;
        font-size: 22px;
        color: global.$text-color;
    }

    &__position {
        font-family: global.$ff-en;
        font-weight: 500;
        font-size: 12px;
        color: global.$text-color;
    }

    &__input {
        display: none;
    }

    &__label {
        position: absolute;
        top: 0;
        right: 0;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            right: 9px;
            width: 26px;
            height: 26px;
            background-color: #757676;
            border-radius: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            top: 13.8px;
            right: 14.2px;
            width: 15px;
            height: 15px;
            background: url(../img/parts/star.svg) no-repeat center center/contain;
        }

        // チェックボタンクリック時の挙動 スタイルが効かないため例外的にinput使用している
        .c-card1__input:checked + &::after {
            background: url(../img/parts/starHover.svg) no-repeat center center/contain;
        }
    }

    &__liner {
        display: block;
        height: 1px;
        max-width: 261px;
        width: 100%;
        background-color: #757676;
        margin-top: 8px;
        margin-bottom: 20px;
        margin-left: 1px;
    }

    &__areas {
        width: 100%;
        display: flex;
        justify-content: left;
        gap: 8px;
    }

    &__tag {
        flex: 0 0 48px;
        margin-top: -5px;
    }

    &__tagSpan {
        display: inline-block;
        font-family: global.$ff-en;
        font-weight: 500;
        font-size: 10px;
        color: global.$main-color;
        line-height: 1;
        padding: 4px 8px;
        border: 1px solid global.$main-color;
    }

    &__areaLists {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        gap: 4px;
    }

    &__areaItem {

        & > a {
            font-family: global.$ff-en;
            font-weight: 500;
            font-size: 14px;
            color: global.$text-color;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}


// card style 2

// card style 3

// card style 4
